<%= form_for @lineitem do |f| %>
  <% @lineitem.errors.full_messages.each do |msg| %>
    <p class="alert alert-danger"><%= msg %></p>
  <% end %>

  <div class="form-group">
  <label>Product</label>
  <%= f.text_field :product_id, placeholder: @lineitem.product_id, class: "form-control" %>
</div>

  <div class="form-group">
  <label>Amount</label>
  <%= f.text_field :count, placeholder: "Amount", class: "form-control" %>
</div>

  <div class="actions">
  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Back", root_path, class: "btn btn-default" %>
</div>
<% end %>
