<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("http://res.cloudinary.com/maja55/image/upload/v1485379808/bikeshop_logo_dfx2cl.png"), root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

        <% if !user_signed_in? %>
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% else %>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="cart">Shopping Cart</span>Shopping Cart (<%= (session[:cart] ||= []).count %>) <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li style="text-align: center; margin-left: 10px; margin-right: 10px; margin-top: 10px;"><%= render '/lineitems/lineitemsindex' %>
              <li role="separator" class="divider"></li>
              <li style="text-align: center; margin: 10px;">
              <%= link_to 'Clear cart', clearcart_lineitems_path, class: "btn btn-default"%>
              <li role="separator" class="divider"></li>
              <li style="text-align: center; margin: 10px;">
              <%= link_to 'Checkout', new_order_path, class: "btn btn-default"%></li>
          </ul>

        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.has_profile? ? current_user.full_name : current_user.email  %> <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><%= link_to "Your Orders", orders_path %></li>
            <li role="separator" class="divider"></li>

            <% if current_user.has_profile? %>
              <li><%= link_to "View Profile", profile_path(current_user.profile) %></li>
              <li><%= link_to "Edit Profile", edit_profile_path(current_user.profile) %></li>
            <% else %>
              <li><%= link_to "Create Profile", new_profile_path %></li>
            <% end %>
            <li><%= link_to "Edit Password", edit_user_registration_path %></li>

            <li role="separator" class="divider"></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>

        </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
