
<div class="row-1">
    <div id="sidebar" class="col-sm-2">
        <p class="sorting"><%= link_to "Sort by brand", :sort => "brand", :category => params[:category], :gender => params[:gender]%></p>
        <p class="sorting"><%= link_to "Sort by price", :sort => "price", :category => params[:category], :gender => params[:gender]%></p>
       <br>

      <form>

        <div class="form-group">
          <label>Category</label>
          <br>
          <label>
            <input type="radio" name="category" value="mountainbike">
            Mountainbike
          </label>
          <br>
          <label>
            <input type="radio" name="category" value="citybike">
            Citybike
          </label>
          <br>
          <label>
            <input type="radio" name="category" value="racebike">
            Racebike
          </label>
          <br>
          <label>
            <input type="radio" name="category" value="ebike">
            E-bike
          </label>
          <br>
        </div>


        <div class="form-group">
          <label>Gender</label>
          <br>
          <label>
            <input type="radio" name="gender" value="male">
            Male
          </label>
          <br>
          <label>
            <input type="radio" name="gender" value="female">
            Female
          </label>
          <br>
        </div>

        <button type="submit" class="btn btn-default">Filter</button>
        <button class="btn btn-default">Clear filter</button>
      </form>
    </div>

    <div id="products_display" class="col-xs-10">

      <div class="row-2">
        <% @products.each do |product| %>
          <div id="bike-container" class="col-xs-4">
            <div class="bike_info">
            <h5 align="center" id="bike_model"><%= link_to product.model, product %></h5>
            <class="bike_photo" align="center"><%= link_to image_tag(product.photos.first.image.thumbnail), product_path(product.id) %>
            <p align="center"><strong><%= product.brand %></strong></p>
            <p align="center"><%= product.category %> - <%= product.gender %>
            <p align="center">€ <%= product.price.to_i %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
